/* Design */
* {
    outline: 1px solid red;
}

body {
    padding-top: 70px;
}

/* Topbar */

#topbar {
    background-color: black;
    text-align: center;
}

#topbar ul {
    display: inline-block;
}

#topbar ul li {
    display: inline-block;
}

#topbar a {
    color: #fff;
}

